</div>
<footer class="footer wow">
    <div class="container">
       <div class="footer__inner">
           <div class="footer__logo">
                    <a href="#">
               <img src="../static/images/logo.png" alt="">
         </a>
           </div>
           <div class="footer__link">
           <img src="../static/images/footer-link.png" alt="">
           </div>
           <div class="footer__text">
               © 2016 Mulitix Theme by ThemeForces. All Rights Reserved.
           </div>
       </div>
    </div>
</footer>

</div>
</div>

{{> layout/bottom}}