.footer {
  animation: fadeIn 1.8s;
  flex-shrink: 0;
  padding: 20px 0;
  border-top: 1px solid #f9f9f9;
  &__logo {
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: inline-block;
    }
 
  }
  &__link {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  &__text {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    color:#b8b8b8;
  }
}
