<section class="about wow" id="about">
  <div class="container">
    <div class="about__inner">
      <h2 class="h2 about__title">Awesome Team</h2>
      <div class="about__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error numquam ratione eius repellendus impedit ullam suscipit earum praesentium, quia quae dolorum aspernatur, fuga consectetur illo iusto itaque fugit at
        exercitationem vel nostrum eaque veniam consequatur saepe sint.</div>
      <div class="about__row">
        <div class="about__col">
          <div class="col__img">
            <img src="../static/images/about1.jpg" alt="">

        </div>
          <div class="col-desc ">
            <div class="col-desc__title">lian joy</div>
            <div class="col-desc__info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, perspiciatis!</div>
          </div>

        </div>
        <div class="about__col">
          <div class="col__img">
            <img src="../static/images/about2.jpg" alt="">

        </div>
          <div class="col-desc">
            <div class="col-desc__title">albert than</div>
            <div class="col-desc__info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, perspiciatis!</div>
          </div>

        </div>
        <div class="about__col ="=>
          <div class="col__img">
            <img src="../static/images/about3.jpg" alt="">

        </div>
          <div class="col-desc">
            <div class="col-desc__title">jenn pereira</div>
            <div class="col-desc__info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, perspiciatis!</div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
