<section class="portfolio wow" id="portfolio">
  <div class="container">
    <div class="portfolio__inner">

      <ul class="portfolio__nav">
        <li class="active">All</li>
        <li>Logo</li>
        <li>Mobile App</li>
        <li>Wordpress</li>
        <li>Web design</li>
        <li>ui/ix</li>
        <li>branding</li>
      </ul>
      <select name="" id="" class="js-dropdown-box js-dropdown-box--fill" data-placeholder="All">
              <option value="1">Logo</option>
              <option value="2">Mobile App</option>
              <option value="3">Wordpress</option>
              <option value="4">Web design</option>
              <option value="5">branding</option>
            </select>
      <div class="portfolio__list">
        <div class="portfolio__col">
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/portfolio__item5.png" alt="">

                </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/potfolio__item6.png" alt="">

                </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/portfolio__item9.png" alt="">

                </div>
          </div>
        </div>
        <div class="portfolio__col">
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/portfolio__item4.png" alt="">

                </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/portfolio__item8.png" alt="">

                </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/portfolio__item10.png" alt="">

                </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/portfolio__item8.png" alt="">

                </div>
          </div>
        </div>
        <div class="portfolio__col">
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/potfolio__item3.png" alt="">

                </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/portfolio__item7.png" alt="">

                </div>
          </div>
          <div class="portfolio__item">
            <div class="portfolio__img">
              <img src="../static/images/potfolio__item11.png" alt="">

                </div>
          </div>
        </div>
      </div>
      <div class="portfolio__button">
        <button class="btn-load js-load-more">load more</button>
      </div>
    </div>
  </div>
</section>
